{% extends 'layout.html' %}
      <div class="app-title">
        <div>
          <h1><i class="fa fa-home"></i> Shutters</h1>
          <p>A complete overview of your home - {{ request.path }}</p>
        </div>
        <ul class="app-breadcrumb breadcrumb d-sm-none d-md-block">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        </ul>
      </div>
{% block css %}
<style>
.vertical {
  display: inline-block;
  width: 10%;
  height: 50px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
</style>
{% endblock %}
<!--
<div class="progress vertical" style="margin-top:20px;height:40px;margin-right:20px">
  <div class="progress-bar progress-bar-striped progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
  </div>  
</div>
-->
{% block content %}
      <div class="app-title">
        <div>
          <h1><i class="fa fa-home"></i> Shutters</h1>
          <p>Control the shutters in your home</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Shutters</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="widget-small">
	    <button class="btn btn-success btn-block btn-lg"><i class="fa fa-arrow-circle-up"></i> All the shutters UP</button>
	  </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="widget-small">
	    <button class="btn btn-danger btn-block btn-lg"><i class="fa fa-arrow-circle-down"></i> All the shutters DOWN</button>
	  </div>
        </div>


	{% for shutter in object_list %}
        <div class="col-md-6 col-sm-12">
		<div class="widget-small primary coloured-icon"><i class="icon fa fa-{{ shutter.faicon }} fa-3x"></i>
            <div class="info">
		    <h4 style="font-size:10pt">{{ shutter.name }}</h4>
                <div class="progress mb-2">
			<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ shutter.status }}%">
                    </div>
              </div>
            </div>
            <form style="margin-top:2px;margin-right:2px">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary"><i class="fa fa-arrow-circle-up" style="margin:0px"></i></button>
                        <button class="btn btn-primary"><i class="fa fa-arrow-circle-down" style="margin:0px"></i></button>
                    </div>
                </div>
                <div class="row" style="margin-top:2px">
                    <div class="col">
                        <button class="btn btn-danger btn-block"><i class="fa fa-stop" style="margin:0px"></i></button>
                    </div>
                </div>
            </form>
          </div>
        </div>
	{% endfor %}


      </div>
{% endblock %}


{% block javascript %}
<script>
$('#openallshutters').click(function () {
  swal({
    title: "Are you sure?",
    text: "All the shutters will be closed!",
    type: "warning",
    showCancelButton: true,
    confirmButtonText: "Yes",
    cancelButtonText: "No no no no!",
    closeOnConfirm: false,
    closeOnCancel: false
  }, function(isConfirm) {
    if (isConfirm) {
      swal("Confirmed!", "The closing procedure was started!", "success");
    } else {
      swal("Cancelled", "Ok ok don't panic, I will do nothing :)", "error");
    }
  });
});
</script>
{% endblock %}
